In [1]:
# Importing Pandas and NumPy
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("pima_indian_diabetes.csv")
df.head()

,No_Times_Pregnant,Plasma_Glucose,Diastolic_BP,Triceps,Insulin,BMI,Age,Diabetes
0,1,89,66,23,94,28.1,21,0
1,0,137,40,35,168,43.1,33,1
2,3,78,50,32,88,31.0,26,1
3,2,197,70,45,543,30.5,53,1
4,1,189,60,23,846,30.1,59,1

In [12]:
normalized_df=(df-df.mean())/(df.std())
normalized_df = normalized_df.round(3)
normalized_df.describe()

,No_Times_Pregnant,Plasma_Glucose,Diastolic_BP,Triceps,Insulin,BMI,Age,Diabetes
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,-0.000128,-0.000008,0.000013,0.000008,0.000003,-0.000015,-0.000036,-0.000276
std,1.000101,0.999986,0.999896,0.999998,1.000023,0.999956,1.000038,1.000314
min,-1.028000,-2.159000,-3.734000,-2.106000,-1.195000,-2.118000,-0.967000,-0.704000
25%,-0.717000,-0.766000,-0.693000,-0.775000,-0.667250,-0.667000,-0.771000,-0.704000
50%,-0.405000,-0.118000,-0.053000,-0.014000,-0.257000,0.016000,-0.379000,-0.704000
75%,0.529000,0.660000,0.587000,0.747000,0.286000,0.571000,0.503000,1.418000
max,4.266000,2.442000,3.148000,3.219000,5.806000,4.840000,4.915000,1.418000

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
# Putting feature variable to X
X = normalized_df.drop(['Diabetes'],axis=1)

# Putting response variable to y
y = normalized_df['Diabetes']

# Splitting the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.7,test_size=0.3,random_state=100)

In [15]:
import statsmodels.api as sm

ModuleNotFoundError: No module named 'statsmodels'