In [41]:
import numpy as np
import pandas as pd
import json
pd.options.display.float_format = '{:.2f}'.format

ratings = pd.read_csv("MyFoodRatings.csv")
ratings.head(30)

,Name,Chicken,Mutton,Paneer,ChowMein,SpringRolls,Momo,Sushi,Ramen,Tempura
0,A,5,5,5,0,0,0,0,0,0
1,B,4,4,4,0,0,0,0,0,0
2,C,3,3,3,0,0,0,0,0,0
3,D,2,2,2,0,0,0,0,0,0
4,E,0,0,0,2,2,2,0,0,0
5,F,0,0,0,1,1,1,0,0,0
6,G,0,0,0,5,3,4,0,0,0
7,H,0,0,0,4,4,4,0,0,0
8,I,0,0,0,0,0,0,2,2,4
9,J,0,0,0,0,0,0,1,1,1
10,K,0,0,0,0,0,0,3,4,4
11,L,0,0,0,0,0,0,2,2,2

In [31]:
data = ratings.drop(['Name'], axis=1)

U, s, VT = np.linalg.svd(data, full_matrices=True)

In [32]:
print U.shape
print s.shape
print VT.shape

(12, 12)
(9,)
(9, 9)

In [36]:
#suppress exponential notation, define an appropriate float formatter
#specify stdout line width and let pretty print do the work
np.set_printoptions(suppress=True,
   formatter={'float_kind':'{:16.2f}'.format}, linewidth=130)
print s

[           12.73            10.58             8.85             1.24             1.06             0.41             0.00
             0.00             0.00]

In [37]:
np.diag(s[:3])

array([[           12.73,             0.00,             0.00],
       [            0.00,            10.58,             0.00],
       [            0.00,             0.00,             8.85]])

In [59]:
import pprint
pp = pprint.PrettyPrinter(indent=10)
pp.pprint(U[:,:3])

array([[           -0.68,             0.00,             0.00],
       [           -0.54,             0.00,            -0.00],
       [           -0.41,             0.00,            -0.00],
       [           -0.27,             0.00,             0.00],
       [            0.00,            -0.33,            -0.00],
       [            0.00,            -0.16,             0.00],
       [            0.00,            -0.66,             0.00],
       [            0.00,            -0.65,             0.00],
       [            0.00,             0.00,            -0.54],
       [            0.00,             0.00,            -0.19],
       [            0.00,             0.00,            -0.72],
       [            0.00,             0.00,            -0.39]])

In [62]:
df = pd.DataFrame(VT)
df

      0     1     2     3     4     5     6     7     8
0 -0.58 -0.58 -0.58 -0.00 -0.00 -0.00 -0.00 -0.00 -0.00
1  0.00  0.00  0.00 -0.64 -0.51 -0.58  0.00  0.00  0.00
2  0.00  0.00  0.00  0.00  0.00  0.00 -0.48 -0.56 -0.68
3  0.00  0.00  0.00  0.00  0.00  0.00  0.30  0.63 -0.72
4 -0.00 -0.00 -0.00  0.65 -0.76 -0.05 -0.00 -0.00 -0.00
5 -0.00 -0.00 -0.00 -0.00 -0.00 -0.00  0.83 -0.54 -0.13
6  0.00  0.00  0.00 -0.41 -0.41  0.82  0.00  0.00  0.00
7  0.82 -0.41 -0.41  0.00  0.00  0.00  0.00  0.00  0.00
8  0.00 -0.71  0.71  0.00  0.00  0.00  0.00  0.00  0.00

In [68]:
ratings = pd.read_csv("FoodRatings_all_same_5_4_3.csv")
ratings.head(30)

,Name,Chicken,Mutton,Paneer,ChowMein,SpringRolls,Momo,Sushi,Ramen,Tempura
0,A,5,5,5,0,0,0,0,0,0
1,B,5,5,5,0,0,0,0,0,0
2,C,5,5,5,0,0,0,0,0,0
3,D,5,5,5,0,0,0,0,0,0
4,E,0,0,0,4,4,4,0,0,0
5,F,0,0,0,4,4,4,0,0,0
6,G,0,0,0,4,4,4,0,0,0
7,H,0,0,0,4,4,4,0,0,0
8,I,0,0,0,0,0,0,3,3,3
9,J,0,0,0,0,0,0,3,3,3
10,K,0,0,0,0,0,0,3,3,3
11,L,0,0,0,0,0,0,3,3,3

In [69]:
data = ratings.drop(['Name'], axis=1)
U, s, VT = np.linalg.svd(data, full_matrices=True)

In [70]:
print s

[           17.32            13.86            10.39             0.00             0.00             0.00             0.00
             0.00             0.00]